NOTION_KEY='secret_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' # https://www.notion.so/my-integrations
DATABASE_ID='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' # Go to your notion database page in browser, click share, invite, copy link, remove the ID (before the v=), and paste here