{
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "tailwindFunctions": [
    "tw"
  ]
}