---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog">
  <main class="h-full w-full bg-transparent">
    <div class="align-center flex h-full w-full items-center justify-center">
      <div class="animate-wiggle text-6xl animate-infinite">
        Insert Content Here
      </div>
    </div>
  </main>
</Layout>
