---
import Layout from "../layouts/Layout.astro";
import Newsletter from "../components/Newsletter.svelte";
import Features from "./home/_Features.svelte";
import FeatureHero from "./home/_FeatureHero.svelte";
import LatestPosts from "../components/LatestPosts.astro";
---

<Layout title="AstroNot: Astro + Notion based site builder">
  <main class="bg-transparent">
    <div class="w-full">
      <FeatureHero client:load />
      <Features client:load />
      <LatestPosts fullWidth={false} animated={true} />
      <Newsletter client:load />
    </div>
  </main>
</Layout>
