---
import { ViewTransitions } from "astro:transitions";
import Navbar from "./_Navbar.svelte";
import Footer from "./_Footer.svelte";
import HyperDark from "../components/HyperDark/HyperDark.svelte";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta
      name="description"
      content="AstroNot is a fully customizable site builder powered by Astro & Notion. Publish directly from Notion with total control over the website and design!"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="icon" type="image/x-icon" sizes="any" href="/favicon.ico" />

    <style is:global>
      /* Code Block Styling Overrides */
      code {
        color: white !important;
      }
      li code {
        color: white !important;
      }
      blockquote code {
        color: white !important;
      }
    </style>

    <style>
      body {
        display: flex;
        flex-direction: column;
        height: 100vh; /* Flex column with height 100vh so Footer is always on bottom, even without page content */
        margin: 0;
      }
    </style>

    <ViewTransitions />

    <script is:inline>
      const colorTheme = localStorage.getItem("color-theme");
      const isDark = colorTheme === "dark";
      document.documentElement.classList[isDark ? "add" : "remove"]("dark");

      //
      // if (typeof localStorage !== "undefined") {
      //   const observer = new MutationObserver(() => {
      //     console.log("MutationObserver from astro:inline script");
      //     const isDark = document.documentElement.classList.contains("dark");
      //     localStorage.setItem("color-theme", isDark ? "dark" : "light");
      //   });
      //
      //   observer.observe(document.documentElement, {
      //     attributes: true,
      //     attributeFilter: ["class"],
      //   });
      // }
      //
      // document.addEventListener("astro:after-swap", () => {
      //   const isDark = JSON.parse(localStorage.getItem("darkMode"));
      //
      //   document.documentElement.classList[isDark ? "add" : "remove"]("dark");
      //
      //   if (typeof localStorage !== "undefined") {
      //     const observer = new MutationObserver(() => {
      //       console.log("MutationObserver from astro:after-swap");
      //       const isDark = document.documentElement.classList.contains("dark");
      //       localStorage.setItem("darkMode", isDark);
      //     });
      //     observer.observe(document.documentElement, {
      //       attributes: true,
      //       attributeFilter: ["class"],
      //     });
      //   }
      // });
    </script>
  </head>

  <body
    class="align-center flex h-screen flex-col overflow-x-hidden overflow-y-scroll bg-white dark:bg-gray-900 dark:text-white"
  >
    <HyperDark client:idle />

    <Navbar client:load />

    <div class="flex-grow">
      <slot />
    </div>

    <Footer client:load />
  </body>
</html>
